* {
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background: lightgray;
   font-size: 19px;
   margin: 0 auto;
   max-width: 600px;
   overflow: hidden;
}

.header {
   background: #3232ff;
   box-shadow: 0 0 3px darkslategray;
   width: 100vw;
   height: 50px;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;
}

.container {
   margin: 0 auto;
   max-width: 600px;
   height: inherit;
   display: flex;
   align-items: center;
}

.icon {
   width: 40px;
   margin-left: 6px;
}

.title {
   font-size: 24px;
   font-weight: bold;
   color: white;
}

#messages {
   max-width: 600px;
   height: 80vh;
   margin-top: 50px;
   padding-top: 55px;
   margin-bottom: 50px;
   text-align: left;
   cursor: default;
   display: flex;
   flex-direction: column-reverse;
   justify-content: flex-start;
   overflow: auto
}

p {
   border-radius: 20px;
   margin: 7px;
   padding: 5px 10px;
   max-width: 60%;
   font-size: 17px;
   box-shadow: 0 0 5px rgb(150, 150, 150);
}

#botSpeak {
   background: #3232ff;
   float: right;
   clear: both;
   color: white;
   animation-duration: .2s;
   animation-name: slidedown;
   align-self: flex-start
}

@keyframes slidedown {
   from {
      margin-top: -10px;
      width: inherit;
   }
   to {
      margin-top: 0;
      width: inherit;
   }
}

#userInput {
   float: left;
   color: black;
   background: white;
   align-self: flex-end
}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   background: white;
   padding: 5px;
   box-shadow: 0 0 1px gray
}

.form {
   max-width: 600px;
   margin: 0 auto;
   display: flex;
   max-width: 600px;
}

#input {
   background: white;
   font-size: 18px;
   line-height: 6px;
   padding: 1px 50px 1px 7px;
   outline: none;
   border: 1.7px solid #3232ff;
   border-radius: 10px;
   flex: 1;
}

button {
   background: #3232ff;
   color: white;
   width: 50px;
   height: inherit;
   border: none;
   border-radius: 0 10px 10px 0;
   font-size: 30px;
   margin-left: -50px;
}

button:hover {
   background: blue;
}

button:active {
   background: blueviolet;
   transform: translateY(-3px);
   transition: .1s;
}

button:focus {
   outline: none;
}

.info {
   margin-left: auto;
   font-style: italic;
   text-align: center;
   color: white;
   padding: 1px 11px;
   margin-right: 9px;
   cursor: pointer;
   transition: .3s;
   border: 1px solid white;
   border-radius: 50%;
}

.info:hover {
   background: white;
   color: black
}

.info:active {
   transform: scale(.9)
}

.info-modal {
   display: none;
   width: 300px;
   height: 170px;
   position: fixed;
   margin: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: white;
   padding: 20px;
   color: black;
   box-shadow: 0 0 2500px 2000px #000000b6;
   z-index: 5;
}

.close {
   position: absolute;
   top: 0;
   right: 0;
   line-height: 0;
   padding: 9px 2px 15px 3px;
   font-size: 30px;
}

.close:hover {
   color: white;
   background: red;
   cursor: default
}

.name {
   font-size: 30px;
   line-height: 1;
   color: blue;
   display: block;
   padding: 0 5px 15px 0;
}

.version, .repo{
   display: block;
   font-size: 16px;
}

.made{
   display: block;
   padding: 25px 0;
}