* {
   box-sizing: border-box;
}

a:any-link {
   color: rgba(255, 255, 255, 0.822);
}

:root {
   --color-primary: #1b1b1b;
   --color-secondary: #1213fd;
   --color-accent: #af5adf;
   --halo-center: var(--color-primary);
}

body {
   margin: 0 auto;
   padding: 0;
   height: 100vh;
   max-width: 768px;
   background: var(--color-primary);
   font-family: Candara, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-size: 1em;
}

.grid-container {
   height: inherit;
   display: grid;
   grid-template-rows: 22vh 58vh 20vh;
}

.container {
   padding: 10px;
   text-align: center;
}

.halo {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   display: inline-block;
   transform: scale(0.3);
}

.halo-outer {
   background: var(--color-accent);
   height: 200px;
   width: 200px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.halo-inner {
   background: var(--color-secondary);
   height: 160px;
   width: 160px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   animation-name: inner-halo-animation;
   animation-duration: 1.2s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.halo-middle {
   background: var(--halo-center);
   height: 145px;
   width: 145px;
   border-radius: 50%;
   animation-name: middle-halo-animation;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-fill-mode: backwards;
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes inner-halo-animation {
   50% {
      height: 160px;
      width: 40px;
   }
   100% {
      height: 160px;
      width: 160px;
   }
}

@keyframes middle-halo-animation {
   100% {
      transform: rotate(10000deg);
   }
}

.container-output {
   overflow-y: auto;
   opacity: 0;
   animation-name: delay;
   animation-delay: 1s;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

#output-element {
   margin: 10px;
   color: white;
   /* animation-duration: 0.2s;
   animation-name: down; */
}

.container-bottom {
   width: inherit;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   opacity: 0;
   animation-name: delay;
   animation-delay: 1s;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes delay {
   to {
      opacity: 1;
   }
}

.container-tiles {
   overflow: auto;
   white-space: pre-line;
   -webkit-user-select: none;
   -moz-user-select: none;
   margin-bottom: 1rem;
}

.tile {
   display: inline-block;
   font-size: 0.8em;
   margin: 7px;
   padding: 5px;
   background: var(--color-accent);
   color: black;
   border-radius: 5px;
   box-shadow: 0 1px 5px black;
   cursor: pointer;
}

.tile:active {
   box-shadow: none;
   filter: brightness(2);
   transition: 0.2s;
}

.container-input {
   height: 35px;
   width: inherit;
   display: flex;
   align-items: center;
}

#input {
   height: inherit;
   width: 100%;
   padding: 0 15px;
   background: rgb(212, 211, 211);
   font-family: inherit;
   font-size: 0.8em;
   color: #3d3d3d;
   outline: none;
   border: 1px solid var(--color-accent);
   border-radius: 20px;
   margin: 0 10px;
}

#input:focus {
   background: white;
   transition: 0.5s;
}

.icon {
   display: inline-block;
   width: 20px;
   height: 20px;
   background-size: cover;
}

.icon:active {
   transform: scale(0.9);
   filter: saturate(100);
}

#mic {
   height: inherit;
   width: 43px;
   border-radius: 100%;
   background-color: transparent;
   background-image: url("/img/mic.png");
   background-repeat: no-repeat;
}

#submit {
   height: inherit;
   width: 43px;
   border-radius: 100%;
   background-color: transparent;
   background-image: url("/img/submit.svg");
   background-repeat: no-repeat;
}

.mic:focus {
   outline: none;
}

.about-btn {
   background-image: url("/img/info-circle-solid.svg");
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px;
   cursor: pointer;
   transition: 0.3s;
}

.about-btn:active {
   transform: scale(0.9);
   transition: 0.1s;
}
.about-dialog {
   visibility: hidden;
   transition: visibility 0.5s;
   max-width: 300px;
   min-width: 240px;
   height: fit-content;
   position: fixed;
   margin: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: var(--color-accent);
   padding: 20px;
   color: white;
   box-shadow: 0 0 30px #000;
   z-index: 5;
}

.about-dialog .close-btn {
   position: absolute;
   top: 0;
   right: 0;
   line-height: 0;
   padding: 9px 5px 15px 5px;
   margin: 5px;
   font-size: 2em;
}

.about-dialog .close-btn:hover {
   color: white;
   background: red;
   cursor: default;
}

.about-dialog .app-name {
   font-size: 2.5em;
   line-height: 1;
   display: block;
   padding: 0 5px 15px 0;
}

.about-dialog .version,
.repo {
   display: block;
}

.about-dialog .copyright {
   display: block;
   padding-top: 25px;
}
